.project-details {
    padding: 2rem 2rem;

    img {
        width: 100%;
        max-width: 600px;
        border-radius: 10px;
        margin: 1.5rem 0;
    }

    .back-btn {
        padding: 0.5rem 1.5rem;
        background: linear-gradient(135deg, #0077ff, #00c6ff);
        color: white;
        border-radius: 20px;
        text-decoration: none;
        font-weight: 1000;
        transition: all 0.3s ease;
    }

    .back-btn:hover {
        background: linear-gradient(135deg, #005bb5, #0099cc);
        transform: translateY(-2px);
    }

    .container-projects {
        padding: 1rem 1rem;

        display: flex;
        justify-content: center;
        flex-direction: column;

        h1 {
            text-align: center;
        }

        p {
            font-size: clamp(1.1rem, 2vw, 1rem);
        }

        img {
            margin: 0 auto;
        }

        .list {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: 0.7rem;
            justify-content: center;
            padding: 0;
            margin-bottom: 1rem;

            li {
                background: #0077ff;
                color: white;
                padding: 0.5rem 1rem;
                border-radius: 10px;
                font-size: 1rem;
            }
        }
    }

    .button {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        margin-top: 2rem;

        a {
            padding: 0.8rem 1.8rem;
            background: #0077ff;
            color: white;
            border-radius: 30px;
            text-decoration: none;
            font-weight: 600;
            transition: all 0.3s ease;
        }

        a:hover {
            background:#005bb5;
            transform: translateY(-2px);
        }
    }

    @media (min-width:768px) {
        .container-projects {
            p {
                font-size: clamp(1.2rem, 2vw, 1.2rem);
                padding: 2rem 2rem;
            }

            .list {
                li {
                    font-size: 1.4rem;
                }
            }
        }
    }
}