@import "../styles/variables";

.project-details {
    padding: 1.7rem;
    white-space: pre-line;
    background: $white-color;
    min-height: 100vh;
    padding: 1.5rem;

    .container-projects {
        max-width: 680px;
        margin: 0 auto;
        background: $white-color;
        border-radius: 20px;
        padding: 1.5rem;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);

        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }

    .back-btn {
        align-self: flex-start;
        text-decoration: none;
        font-size: 1.5rem;
        color: $primary-color;
        padding: 1rem 1rem 0 1rem;
        transition: opacity 0.2s ease;

        &:hover {
            opacity: 0.7;
        }
    }

    h1 {
        text-align: center;
        font-size: clamp(1.9rem, 6vw, 2.2rem);
        line-height: 1.2;
        color: $primary-color;
    }

    img {
        max-width: 250px;
        margin: 0 auto;
        border-radius: 25px;
        object-fit: contain;
    }

    p {
        font-size: clamp(0.7rem, 4vw, 2rem);
        line-height: 2;
        color: #000000;
        padding: 0.5rem;
    }

    .list {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.8rem;
        padding: 0;
        margin-top: 0.2rem;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0rem 1rem;
        }
    }

    .button {
        margin-top: 0.5rem;
        padding: 0.7rem;
        display: flex;
        justify-content: center;

        a {
            background: $primary-color;
            padding: 1.2rem;
            font-size: 1rem;
            font-weight: 700;
            border-radius: 30px;
            color: white;
            text-decoration: none;
            transition: transform 0.2s ease, box-shadow 0.2s ease;

            &:hover {
                transform: translateY(-2px);
                box-shadow: 0 6px 16px rgba(0, 119, 255, 0.5);
            }

        }
    }

    @media (min-width: 768px) {

        padding: 2.5rem 2.5rem;

        .container-projects {
            max-width: 1100px;
            padding: 1.5rem;
            gap: 1rem;
        }

        .back-btn {
            font-size: 3rem;
        }

        img {
            max-width: 650px;
        }

        p {
            font-size: clamp(1.1rem, .5vw, 1.4rem);
        }
    }
}