@import "../styles/variables";
@import "../styles/mixins";

.footer {
  background: $primary-color;
  color: white;
  text-align: center;
  padding: 1.5rem;

  .socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  p {
    font-size: 0.9rem;
  }
}