@import "../styles/variables";
@import "../styles/mixins";

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: $primary-color;
  color: white;
  text-align: center;
  padding: 1.5rem;

  .socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  p {
    font-size: 0.9rem;
  }
}

@media (min-width:768px) {
  .footer {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
  .socials{
    order: 2;
  }
}