@import "../styles/variables";
@import "../styles/mixins";

.header {
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  position: relative;
  z-index: 10;

  .logo a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
    color: $primary-color;
    white-space: nowrap;
    width: 200px;
  }

  .logo img {
    height: 60px;
    width: auto;
    display: block;
  }


  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
    max-width: 100%;

    a {
      text-decoration: none;
      color: $primary-color;
      padding: 0.5rem 1rem;
      border-radius: 8px;
      transition: background 0.2s;
      text-align: center;
      word-wrap: break-word;

      &:hover {
        background: rgba($color: #000000, $alpha: 0.1);
      }
    }

    &.open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 90px;
      left: 0;
      width: 100%;
      background: #ffffff;
      padding: 1rem 0;
    }
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 18px;
    cursor: pointer;

    .line {
      width: 100%;
      height: 3px;
      background: $primary-color;
      border-radius: 2px;
      transition: transform 0.3s, opacity 0.3s;
    }

    .line.open:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    .line.open:nth-child(2) {
      opacity: 0;
    }

    .line.open:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }

  @media(min-width: 768px) {
    .burger {
      display: none;
    }

    .nav-links {
      display: flex;
      flex-direction: row;
      position: static;
      width: auto;
      gap: 1rem;
      padding: 0;
      box-shadow: none;
    }
  }
}